.App {
  text-align: center;
    width: 1080px;
    height: 768px;
}
.uicontainer{
    position: absolute;
    width: 100%;
    height: 100%;
}

.homecontainer{
    position: absolute;
    width: 100%;
    height:100%;
}

.headObject{
    position:fixed;
    width:1080px;
    height: 300px;
}

.headerPhoto{
    position: absolute;
    width: 1080px;
    height: 300px;
    background-color: blue;
}
.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.ui large horizontal divided list{
  position: center;

}

#headerPhoto{
  position: relative;
  width: 1024px;
  height: 300px;

}

.ui container{
    position: absolute;
    height: 100%;
    width: 100%;
}

#bottomDiv{
    position: relative;
    bottom: 125px;
}

#navBar{
    color: azure;
}
#recentCards{
    position: absolute;
    left: 210px;
    top: 210px;
}

#myClasses{
    position: absolute;
    left: 210px;
    top: 430px;
}

#utils{
    position: absolute;
    left: 550px;
    width: 600px;
    height: 400px
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
